/* General Setting */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper {
    width: 100%;
    min-height: 100vh;
    font-family: ‘Open Sans’,sans-serif;
}
ul li {
    list-style: none;
}
p {
    margin-bottom: 2em;
    font-size: 0.8em;
}
h1 {
    font-size: 3em;
    font-weight: bold;
}
h2 {
    font-size: 2em;
    font-weight: bold;
    margin: 1em 0;
}
a {
    color: #0061ff;
    margin: 2em 0;
}

/* HEADER SETTINGS */
/* Sticky header */
header { 
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid black;
    z-index: 100;
}
/* Floating the two navs */
header .nav-left {
    float: left;
}
header .nav-right {
    float: right;
}
header ul {
    margin: 1em 1em;
}
nav ul li {
    line-height: 1em;
    float: left;
    margin: 0.6em 0.5em;
}
/* Attempt at correcting logo positioning */
.img-logo {
    margin-top: 0.2em;
}


/* MAIN SETTINGS */
/* Jumbotron settings */

#main-jumbo {
    margin: 60px 0 100px;
    padding: 5% 10%;
    min-height: 550px;
    background-color: #b4d0e7;
}
#main-jumbo div {
    position: relative;
    float: left;
    width: 40%;
    margin-top: 50px;
    padding-right: 2em;
}

.img-jumbo {
    position: absolute;
    /* Debug */
    max-width: 900px;
    width: 150%;
    right: -150%;
    top: 0;
}

/* Container Rules */
.main-container {
    width: 70%;
    min-height: 300px;
    margin: 100px auto;
}
.main-container > * {
    float: left;
}
.main-container h2{
    width: 100%;
    margin-top: 50px;
    font-size: 3.4em;
}
.main-container .fattura {
    width: 100%;
    margin: 1em 0 4em;
}
.main-container .fattura div {
    display: inline-block;
}
.fattura i {
    color: #0061ff;
}

/* Plans Section */

article.plan {
    width: 30%;
}
article.plan-center {
    margin-left: 5%;
    margin-right: 5%;
}
article div  *{
    margin: 1em 0;
}
.plan-group {
    text-align: center;
    padding: 0.5em 1em;
    width: 100%;
    border: 1px solid black;
}
.plan-main {
    height: 900px;
    padding: 1em 1.5em;
    border: 1px solid black;
    border-top: none;
}


.plan-main .btn {
    width: 100%;
    margin: 5% 0;
    padding: 1em 2em;
}
.plan-title {
    font-size: 2em;
    font-weight: bold;
    margin: 0.5em 0;
}
.plan-price {
    font-weight: bold;
    font-size: 1.2em;
    margin: 0.5em 0 ;
}
.plan-price-range {
    font-weight: small;
    font-style: italic;
    margin-bottom: 2em;
}
.plan-offer li {
    padding-left: 2em;
    position: relative;
}
.plan-offer .list-icon,
.list-item i {
    position: absolute;
    top: -0.8em;
    left: 0em;
}

.call span {
    display: inline-block;
    padding-bottom: 2em;
    margin-bottom: 1em;
    border-bottom: 1px solid black;
}
.list-title {
    font-weight: bold;
    font-size: 1.2em;
}
.list-item {
    position: relative;
    padding-left: 2em;
}
.list-item i {
    color: #0061ff;
}

/* plan bottom */
#plan-bottom {
    width: 100%;
    margin: 50px 0;
}
#plan-bottom .plan-main {
    height: 250px;
}
#plan-bottom .plan-main div {
    float: left;
}
#plan-bottom .plan-main .btn {
    float: right;
    width: 30%;
    margin-top: 2em;
}
#plan-bottom p {
    display: inline-block;
    width: 100%;
}

/* MAIN SECTION AGAIN */
/* Partner Section */
#main-partner img {
    float: left;
    width: 60%;
}
#main-partner aside {
    float: right;
    width: 40%;
    padding: 2em 0 2em 3em;
}
#main-partner aside > * {
    margin: 1em 0;
    font-size: 1.2em;
}
#main-partner .aside-title {
    font-size: 1.6em;
    font-weight: bold;
}

/* Info Section */
.box {
    float: left;
    width: 32%;
    height: 550px;
}
.box:nth-child(3n+3){
    margin: 0 2%;
}
.box img {
    width: 100%;
}
.box h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 1em 0;
}
.box p {
    margin: 1em 0;
    line-height: 1.5em;
}

/* Carousel Section */
#main-carousel {
    width: 100%;
}
#main-carousel > * {
    float: left;
}
#main-carousel h2,
#main-carousel a{
    width: 70%;
    margin: 20px 15%;
}
#main-carousel .square-big {
    position: relative;
    width: 33.3%;
}

/* Squares and Rectangles */
.square {
    position: relative;
    width: 50%;
    float: left;
}
.rectangle {
    position: relative;
    width: 100%;
    background-color: #d0c9cd;
    padding: 8em 15%;
}
.rectangle #h3-violet {
    float: left;
    font-weight: bold;
    font-size: 2.5em;
    width: 50%;
    color: purple;
}
.rectangle .btn {
    float:right;
    width: 30%;
    font-size: 1em;
    font-weight: bold;
    border: none;
}


.square:after,
.square-big:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

/* square absolute content */
.square-content {
    position: absolute;
    z-index: 10;
    filter: invert(100%) sepia(100%) saturate(14%) hue-rotate(232deg) brightness(103%) contrast(103%);
    top: 50%;
    left: 50%;
    width: 55%;
    transform: translate(-50%, -50%);
}

/* Single square selectors */
#square-1 {
    background-color: #a2d39b;
    border: 10px solid #d0c9cd;
}
#square-1 .square-content {
    width: 60%;
}
#square-2 {
    background-color: #61082b;
}
#square-3 {
    background-color: #0093ce;
}
#square-4 {
    background-color: #ff1c1c;
}

#square-big-center {
    background-color: #f5f5f5;
}
#square-big-center .square-big-logo {
    width: 40%;
  }
#square-big-center .square-content {
    top: 0;
    left: 0;
    transform: translate(0);
    width: 100%;
    padding: 3em;
    filter: invert(0%) sepia(98%) saturate(7437%) hue-rotate(183deg) brightness(105%) contrast(98%);
}
#square-big-center p {
    margin: 4em 0 1em;
    line-height: 1.5em;
    font-size: 1.2em;
}

#square-5 {
    background-color: #d5001f;
}
#square-6 {
    background-color: #b4d0e7;
}
#square-7 {
    background-color: #0d2481;
}
#square-8 {
    background-color: #ffd830;
}

/* FAQ Sections */




/* FOOTER */

footer {
    padding: 5% 10%;
    background-color: black;
    color: white;
    font-size: 0.7em;
}
footer ul {
    float: left;
    width: 20%;
}
footer ul li {
    margin: 0.6em 0;
}
footer .lang-select {
    display: inline-block;
    margin-top: 5em;
    padding: 3em 2em 0 0.5em;
    border-top: 1px solid white;
}
footer .foot-title {
    font-size: 1.5em;
    font-weight: bold;
    margin: 1em 0;
}

/* BUTTONS */
.btn {
    /* debug */
    padding: 0.5em 1em;
    color: white;
    font-size: 0.8em;
    margin: 0.5em 0;
    background-color: #0061ff;
    border: none;
}
.btn-white {
    border: 1px solid black;
    background-color: white;
    color: black;
}

/* Icons Styles */

#icon-arrow-down {
    font-size: 1.5em;
    font-weight: bold;
}

/* Clearfix Settings */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }