/* General Setting */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper {
    width: 100%;
    min-height: 100vh;
    font-family: ‘Open Sans’,sans-serif;
}
ul li {
    list-style: none;
}
p {
    margin-bottom: 2em;
    font-size: 0.8em;
}
h1 {
    font-size: 3em;
    margin-top: 60px; /* correct pos in short width */
}
h2 {
    font-size: 2em;
    margin: 1em 0;
}

a {
    display: inline-block;
    color: #0061ff;
}

/* Trick to display better the anchor with fixed nav */
#main-jumbo:before,
#main-plans:before,
#main-partner:before,
#main-info:before,
#main-carousel:before, 
#main-faq:before,
#rectangle:before {
    content: "";
    display: block;
    position: relative;
    width: 0;
    height: 120px;
    margin-top: -120px;
}

/* HEADER SETTINGS */
/* Sticky header */
header { 
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid black;
    z-index: 100;
}
/* Floating the two navs */
header .nav-left {
    float: left;
}
header .nav-right {
    float: right;
}
nav ul li {
    float: left;
}

/* Header hover functionality */

.nav-li {
    text-decoration: none;
    color: black;
    height: 80px;
    padding: 2em 0.5em;  
    position: relative
}
.nav-li:hover {
    font-weight: bold;
    border-bottom: 1px solid black;
}

/* Dropdown Menu test */

.dropdown {
    position: relative;
  } 
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 200px;
    z-index: 101;
    top: 79px;
    right: 0;
    border-top: 2px solid black;
    background-color: #ffffff;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
 }

.dropdown-content a {
    font-weight: normal;
    color: black;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
    font-weight: bold;
}
.dropdown:hover {
    background-color: #fdfdfd;
}
.dropdown:hover .dropdown-content {
    display: block;
}

/* End Dropdown test */

#img-logo {
    padding: 1.6em 0;
}
#btn-login {
    margin: 2em 0;
}

/* MAIN SETTINGS */
/* Jumbotron settings */

#main-jumbo {
    min-height: 550px;
    background-color: #b4d0e7;
    /* debug */
    margin: 60px 0 100px;
    padding: 5% 10%;
}
#main-jumbo div {
    position: relative;
    float: left;
    width: 40%;
    /* debug */
    margin-top: 50px;
    padding-right: 2em;
}

.img-jumbo {
    position: absolute;
    max-width: 900px;
    width: 150%;
    right: -150%;
    top: 0;
}

/* Container Rules */
.main-container {
    width: 70%;
    min-height: 300px;
    /* debug */
    margin: 100px auto;
}
.main-container > * {
    float: left;
}
.main-container h2{
    width: 100%;
    font-size: 3.4em;
    /* debug */
    margin-top: 50px;
}
.main-container .fattura {
    width: 100%;
    /* debug */
    margin: 1em 0 4em; 
}
.main-container .fattura div {
    display: inline-block;
}
.fattura i {
    color: #0061ff;
}

/* Plans Section */

article.plan {
    width: 30%;
}
article.plan-center {
    margin-left: 5%;
    margin-right: 5%;
}
article div  *{
    /* debug */
    margin: 0.5em 0;
}
.plan-group {
    text-align: center;
    width: 100%;
    border: 1px solid black;
    /* debug */
    padding: 0.5em;
}
.plan-main {
    border: 1px solid black;
    border-top: none;
    /* Debug */
    min-height: 800px; 
    overflow: scroll;
    /* Debug */
    padding: 1em 1.5em;
}

.plan-main .btn {
    width: 100%;
    /* debug */
    margin: 5% 0;
    padding: 1em 2em;
}
.plan-title {
    font-size: 2em;
    font-weight: bold;
    /* debug */
    margin: 0.5em 0;
}
.plan-price {
    font-weight: bold;
    font-size: 1.2em;
    /* debug */
    margin: 0.5em 0 ;
}
.plan-price-range {
    font-weight: small;
    font-style: italic;
    /* debug */
    margin-bottom: 2em;
}
.plan-offer li {
    position: relative;
    padding-left: 2em;
}
.plan-offer .list-icon,
.list-item i {
    position: absolute;
    top: -0.8em;
    left: 0em;
}

.call span {
    display: inline-block;
    padding-bottom: 2em;
    margin-bottom: 1em;
    border-bottom: 1px solid black;
}
.list-title {
    font-weight: bold;
    font-size: 1.2em;
}
.list-item {
    position: relative;
    padding-left: 2em;
}
.list-item i {
    color: #0061ff;
}

/* plan bottom */
#plan-bottom {
    width: 100%;
    /* debug */
    margin: 50px 0;
}
#plan-bottom .plan-main {
    min-height: 250px;
}
#plan-bottom .plan-main div {
    float: left;
}
#plan-bottom .plan-main .btn {
    float: right;
    width: 30%;
    /* debug */
    margin-top: 2em;
}
#plan-bottom p {
    display: inline-block;
    width: 100%;
}

/* MAIN SECTION AGAIN */
/* Partner Section */
#main-partner img {
    float: left;
    width: 60%;
}
#main-partner aside {
    float: right;
    width: 40%;
    /* debug */
    padding: 2em 0 2em 3em;
}
#main-partner aside > * {
    font-size: 1.2em;
    /* debug */
    margin: 1em 0;
}
#main-partner .aside-title {
    font-size: 1.6em;
    font-weight: bold;
}

/* Info Section */
.box {
    float: left;
    width: 32%;
    height: 550px;
}
.box:nth-child(3n+3){
    margin: 0 2%;
}
.box img {
    width: 100%;
}
.box h3 {
    font-size: 1.5em;
    /* debug */
    margin: 1em 0;
}
.box p {
    line-height: 1.5em;
    /* debug */
    margin: 1em 0;
}

/* Carousel Section */
#main-carousel {
    width: 100%;
}
#main-carousel > * {
    float: left;
}
#main-carousel h2,
#main-carousel a{
    width: 70%;
    /* debug */
    margin: 20px 15%;
}
#main-carousel .square-big {
    position: relative;
    width: 33.3%;
}

/* Squares and Rectangles */
.square {
    position: relative;
    width: 50%;
    float: left;
}
.rectangle {
    position: relative;
    width: 100%;
    background-color: #d0c9cd;
    /* debug */
    padding: 8em 15%;
}
.rectangle #h3-violet {
    float: left;
    font-weight: bold;
    font-size: 2.5em;
    width: 50%;
    color: purple;
}
.rectangle .btn {
    float:right;
    width: 30%;
    font-size: 1em;
    font-weight: bold;
    border: none;
}


.square:after,
.square-big:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

/* square absolute content */
.square-content {
    overflow: scroll;
    position: absolute;
    z-index: 10;
    filter: invert(100%) sepia(100%) saturate(14%) hue-rotate(232deg) brightness(103%) contrast(103%);
    top: 50%;
    left: 50%;
    width: 55%;
    
    transform: translate(-50%, -50%);
}

/* Single square selectors */
#square-1 {
    background-color: #a2d39b;
    border: 10px solid #d0c9cd;
}
#square-1 .square-content {
    width: 60%;
}
#square-2 {
    background-color: #61082b;
}
#square-3 {
    background-color: #0093ce;
}
#square-4 {
    background-color: #ff1c1c;
}

#square-big-center {
    background-color: #f5f5f5;
}
#square-big-center .square-big-logo {
    width: 40%;
  }
#square-big-center .square-content {
    filter: invert(0%) sepia(98%) saturate(7437%) hue-rotate(183deg) brightness(105%) contrast(98%);
    width: 100%;
    height: 100%;
    transform: translate(0);
    top: 0;
    left: 0;
}
#square-big-center p {
    line-height: 1.2em;
    font-size: 1.2em;
}

#square-5 {
    background-color: #d5001f;
}
#square-6 {
    background-color: #b4d0e7;
}
#square-7 {
    background-color: #0d2481;
}
#square-8 {
    background-color: #ffd830;
}

/* FAQ Sections */
#main-faq h2 {
    font-size: 3em;
    /* debug */
    margin-top: 0;
}
#main-faq ul {
    width: 100%;
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
}
#main-faq ul li {
    border-bottom: 1px solid #dcdcde;
}
#main-faq ul i {
    float: right;
    /* debug */
    margin-right: 2em;
}
.faq-first{
    border-top: 1px solid #dcdcde;
}

/* FOOTER */

footer {
    background-color: black;
    color: white;
    font-size: 0.7em;
}
footer ul {
    float: left;
    width: 20%;
}
footer ul li {
    /* debug */
    margin: 0.75em 0;
}
footer .lang-select {
    display: inline-block;
    border-top: 1px solid white;
    /* debug */
    margin-top: 5em;
    padding: 3em 2em 0 0.5em;
}
footer .foot-title {
    font-size: 1.5em;
    font-weight: bold;
}

/* BUTTONS */
.btn {
    background-color: #0061ff;
    color: white;
    border: none;
    font-size: 0.8em;
    text-decoration: none;
    /* debug */
    padding: 0.5em 1em;
    margin: 0.5em 0;
}
.btn-white {
    border: 1px solid black;
    background-color: white;
    color: black;
}
.btn:hover {
    cursor: pointer;
    transform: scale(101%);
    box-shadow: 0.5px 1px 2px black;
}

/* Icons Styles */

#icon-arrow-down {
    font-size: 1.5em;
    font-weight: bold;
}

/* ACCESS PAGE STYLE */

.container {
    height: 400px;
    background-color: #eee;
    color: #0061ff;
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
    text-align: center;
    margin: 100px 15% 1em;
}
#access-title,
form {  
    width: 50%;
    margin: 1em auto 0.5em;
}
form input {
    width: 80%;
    margin: 0.5em auto;
    height: 2em;
    font-size: 1.2em;
}
input.btn {
    width: 40%;
    height: 2em;
    font-size: 1.5em;
}

/* Clearfix Settings */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

/* STYLE for KISS CSS */
/* Yeah i know not all this classes are even in use */
  
  .pad-all-1 {
      padding: 1em;
  }
  .pad-all-2 {
    padding: 2em;
}
  .pad-top-bot {
      padding: 1em 0;
  }
  .pad-side-1 {
      padding: 0 1em;
  }
  .marg-top-bot {
      margin: 1em 0;
  }
  .marg-all {
      margin: 1em;
  } 
  .marg-centered {
      margin: 1em 15%;
  }
  .pad-centered-15 {
      padding: 2em 15%
  }
  .pad-centered-10 {
    padding: 2em 10%
}
  
